name: "Code Checks"

on:
  push:
    branches: [main]
  pull_request:
    types: [opened, synchronize]
  schedule:
    - cron: "0 0 * * *"

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

permissions:
  contents: read

env:
  FORCE_COLOR: 1

jobs:
  common-code-checks:
    name: Common Code Checks
    permissions:
      contents: read
      actions: read # Allow the workflow to read actions metadata
      pull-requests: write # Allow the workflow to create and modify pull request comments
      security-events: write # Allow the workflow to upload analysis results
    uses: JackPlowman/reusable-workflows/.github/workflows/common-code-checks.yml@6324ccca5dfacdedf7fa7d0b211245d06724b736 # v2025.10.25.01
    secrets:
      workflow_github_token: ${{ secrets.GITHUB_TOKEN }}

  codeql-checks:
    name: CodeQL Analysis
    permissions:
      contents: read
      security-events: write # Allow the workflow to upload analysis results
    strategy:
      matrix:
        language: [actions, python]
    uses: JackPlowman/reusable-workflows/.github/workflows/codeql-analysis.yml@6324ccca5dfacdedf7fa7d0b211245d06724b736 # v2025.10.25.01
    with:
      language: ${{ matrix.language }}
  run-python-lint-checks:
    name: Run Python Lint Checks
    runs-on: ubuntu-latest
    permissions:
      security-events: write # Allow the workflow to upload analysis results
    steps:
      - name: Checkout Repository
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          fetch-depth: 0
          persist-credentials: false
      - name: Set up UV
        uses: astral-sh/setup-uv@85856786d1ce8acfbcc2f13a5f3fbd6b938f9f41 # v7.1.2
      - name: Install Ruff
        run: uv tool install ruff
      - name: Generate Ruff Sarif
        run: uv run ruff check .
        env:
          RUFF_OUTPUT_FORMAT: "sarif"
          RUFF_OUTPUT_FILE: "ruff-results.sarif"
        continue-on-error: true
      - name: Upload Ruff analysis results to GitHub
        uses: github/codeql-action/upload-sarif@5d4e8d1aca955e8d8589aabd499c5cae939e33c7 # v4.31.9
        with:
          sarif_file: ruff-results.sarif
          wait-for-processing: true
      - name: Check Python Code Linting (Ruff)
        run: uv run ruff check .
        env:
          RUFF_OUTPUT_FORMAT: "github"

  run-python-format-checks:
    name: Run Python Format Checks
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          fetch-depth: 0
          persist-credentials: false
      - name: Set up UV
        uses: astral-sh/setup-uv@85856786d1ce8acfbcc2f13a5f3fbd6b938f9f41 # v7.1.2
      - name: Install Ruff
        run: uv tool install ruff
      - name: Check Python Code Format (Ruff)
        run: uv run ruff format --check .
        env:
          RUFF_OUTPUT_FORMAT: "github"

  run-python-type-checks:
    name: Run Python Type Checks
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          fetch-depth: 0
          persist-credentials: false
      - name: Set up UV
        uses: astral-sh/setup-uv@85856786d1ce8acfbcc2f13a5f3fbd6b938f9f41 # v7.1.2
        with:
          activate-environment: true
      - name: Install Ty
        run: uv tool install ty
      - name: Sync Environment (check_projects.py)
        run: uv sync --script check_projects.py --active
      - name: Check Python Code Types (ty) Checks
        run: uv tool run ty check .
